@import 'jeet'
@import 'nib'
@import 'lib/reset'
@import 'lib/rupture'

.limiter
	max-width 100% !important

.splash
	position: fixed
	width 100vw
	height 100vh
	top 0
	left 0
	background-color: #E6E9ED;

	.loader
		width 200px
		height 40px
		line-height 40px
		position: absolute
		top 50%
		left 50%
		margin -20px 0 0 -100px

.requests
	.request
		border 1px solid #eee
		border-radius 5px
		margin-bottom 20px
		padding 20px

		h4
			font-size: 16px

		.desc
			font-size:14px

		pre
			width 100%

			code
				width 100%

